<!DOCTYPE html>
<html class="h-100" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>Principal</title>
</head>

<body class="h-10">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-index-top">
        <a class="navbar-brand" href="#"><img style="width:200px" src="../../../assets/img/Logo-CDMX.svg" alt="cdmx"></a>
        <button class="navbar-toggler" (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="cliente-principal"> Reportes</a>
                </li>
            </ul>
            <a class="pull-right" href="login"> <strong>Iniciar Sesión </strong><i class="fas fa-sign-in-alt"></i>

            </a>
        </div>
    </nav>

    <div style="display:block; height:auto; max-width: 100%">
      <app-carousel></app-carousel>
  </div>
</body>

</html>