<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div class="input-group form-group mb-2">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Usuario" required [(ngModel)]="model.username" name="username">
  </div>
  <div class="input-group form-group mb-2">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
      </div>
      <input type="password" class="form-control" placeholder="Contraseña" required [(ngModel)]="model.password" name="password">
  </div>
  <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" id="remember_me">
      <label class="form-check-label" for="remember_me">Recordarme</label>
  </div>        
  <div class="d-flex flex-row justify-content-center my-4">
      <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  </div>
  <div class="d-flex flex-row justify-content-center my-4">
      <button type="button" class="btn btn-info"  onclick="location.href='principal'">Regresar</button>
  </div>
</form>