<!DOCTYPE html>
<html class="h-100" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <title>Organización</title>
</head>

<body class="h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-index-top">
        <a class="navbar-brand" href="#"><img style="width:200px" src="../../../../assets/img/Logo-CDMX.svg" alt="cdmx"></a>
        <button class="navbar-toggler" (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="org-principal">{{'OrganizacionComponent.reporte' | translate}}</a>
                </li>
            </ul>
            <button class="button btn" style="color: blue" [ngClass]="{'disabled':activeLang=='es'}" (click)="cambiarLenguaje('es')" >ES</button>
            <button class="button btn" style="color: blue" [ngClass]="{'disabled':activeLang=='en'}" (click)="cambiarLenguaje('en')" >EN</button> 
            <a class="pull-right" href="principal"><strong>{{'OrganizacionComponent.cierre' | translate}} </strong><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>

    <div class="full-minus-nav fixed-top h-100 d-flex justify-content-center z-index-1">
        <div class="container h-100 pt-lg-3 pt-md-3 pt-2 m-0 overflow-scroll-x">
                <h1 class="mb-lg-4 mb-md-4 mb-2">{{'OrganizacionComponent.incidentes' | translate}}</h1>
                <div class="row height-85">
                    <div class="col-12 col-md-6 col-lg-6 mb-3 map-height-responsive">
                        <iframe src="https://maps.google.com/maps?q=cdmx&t=&z=11&ie=UTF8&iwloc=&output=embed" class="full"></iframe>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <form class="d-flex flex-row">
                            <div class="btn-group mb-lg-4 mb-md-4 mb-2 mr-2" dropdown>
                                <select style="background-color: #5cb85c; color: white" [(ngModel)]="delegacion" name="second" class="form-control-sm ml-3">
                                        <option value="" disabled selected>Delegación</option>
                                        <option *ngFor="let o of options2">
                                            {{o.name}}
                                        </option>
                                </select>
                            </div>
                            <div class="btn-group mb-lg-4 mb-md-4 mb-2 mr-2" dropdown>
                                <select style="background-color: #5cb85c; color: white" [(ngModel)]="colonia" name="third" class="form-control-sm ml-3">
                                        <option value="" disabled selected>Colonia</option>
                                        <option *ngFor="let o of options3">
                                            {{o.name}}
                                        </option>
                                </select>
                            </div>
                            <button class="btn btn-primary mb-5 btn-sm" (click)="print()">{{'AdminPrincipalComponent.buscar' | translate }}</button>
                        </form>
                        <table class="table">
                                <thead>
                                  <tr>
                                    <th >ID</th>
                                    <th >{{'OrganizacionComponent.comentario' | translate}}</th>
                                    <th >{{'OrganizacionComponent.estado' | translate}}</th>
                                  </tr>
                                </thead>
                                  <tr *ngFor="let incidente of incidentes" app-incidente-row [incidente]="incidente" ></tr>
                         </table>
                    </div>
                </div>
        </div>
    </div>

    <script src="./bundle.js"></script>
</body>

</html>