<td scope="row">{{reporte.id}}</td>
<td >{{reporte.usuario}}</td>
<td >{{reporte.delegacion}}</td>
<td >{{reporte.colonia}}</td>
<td >{{reporte.comentario}}</td>
<td >
    <div class="col-sm col-lg rounded" [class.bg-success]="reporte.estado == 'Completado'" [class.bg-warning]="reporte.estado == 'Reportado'">
        {{reporte.estado}}
    </div>
</td>
<td>
    <button type="button" class="btn btn-outline-primary btn-lg" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
</td>