<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Cliente Generar Reporte</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img style="width:200px" src="../../../../assets/img/Logo-CDMX.svg" alt="cdmx"></a>
        <button class="navbar-toggler" (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="principal">{{'ClienteGenReporteComponent.ClientePrincipal' | translate}}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cliente-principal">{{'ClienteGenReporteComponent.Areas' | translate}}<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cliente-reportes">{{'ClienteGenReporteComponent.Reportes' | translate}}</a>
                </li>
                <li>
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn bg-success dropdown-toggle"
                                aria-controls="dropdown-basic">
                                {{'ClienteGenReporteComponent.GenReporte' | translate}}<span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">{{'ClienteGenReporteComponent.Agua' | translate}}</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">{{'ClienteGenReporteComponent.Luz' | translate}}</a></li>
                        </ul>
                      </div>
                </li>
            </ul>
            <button class="button btn" style="color: blue" [ngClass]="{'disabled':activeLang=='es'}" (click)="cambiarLenguaje('es')" >ES</button>
            <button class="button btn" style="color: blue" [ngClass]="{'disabled':activeLang=='en'}" (click)="cambiarLenguaje('en')" >EN</button> 
        </div>
    </nav>
    <br>

    <!--<div class="d-flex flex-row pl-3">
        <div class="dropdown pr-2">
            <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary bg-success dropdown-toggle"
                        aria-controls="dropdown-basic">
                        {{'ClienteGenReporteComponent.Delegacion' | translate}}<span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">Alvaro Obregón</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">Cuajimalpa</a></li>
                </ul>
            </div>
        </div>            

        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary bg-success dropdown-toggle"
                    aria-controls="dropdown-basic">
                    {{'ClienteGenReporteComponent.Colonia' | translate}}<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">Colonia A</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">Colonia B</a></li>
            </ul>
        </div>            
    </div>-->


    <br>
    
    <div class="mx-3" style="height: 60vh; min-height: 100%">
        <agm-map style="height:100%" [zoom]='19' [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>        
    </div>
    <br>
    <app-gen-rep-form></app-gen-rep-form>

    
    <script src="./bundle.js"></script>
</body>

</html>