<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Cliente Principal</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img style="width:200px" src="../../../../assets/img/Logo-CDMX.svg" alt="cdmx"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="principal">Principal<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="cliente-principal">Áreas afectadas<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cliente-reportes">Tus Reportes</a>
                </li>
                <li>
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" class="btn bg-success dropdown-toggle"
                                aria-controls="dropdown-basic">
                          Generar Reporte<span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">Agua</a></li>
                          <li class="divider dropdown-divider"></li>
                          <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">Luz</a></li>
                        </ul>
                      </div>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="pl-5">
        <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary bg-success dropdown-toggle"
                    aria-controls="dropdown-basic">
                    Escoja mapa de área afectada<span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">Reportes de luz</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="cliente-gen-reporte">Reportes de agua</a></li>
            </ul>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <iframe 
            src="https://maps.google.com/maps?q=cdmx&t=&z=11&ie=UTF8&iwloc=&output=embed" style="width:100%; height:500px">
        </iframe>

        <br>
        <h2>Reported ingresados: </h2>
        
        <div class="flex container-fluid row">
            <div class="flex-item col-sm-6">
                <div style="display: block;">
                    <canvas baseChart width="100%" height="100%"
                          [datasets]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [colors]="lineChartColors"
                          [legend]="lineChartLegend"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
            <div class="flex-item col-sm-6">
              <table class="table table-responsive table-condensed">
                <tr>
                  <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                  <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                </tr>
              </table>
              <button mat-button mat-raised-button color="primary" (click)="randomize()">Generar datos</button>
              <!--<button mat-button mat-raised-button color="primary" (click)="pushOne()">Push</button>-->
              <button mat-button mat-raised-button color="primary" (click)="changeColor()">Cambiar color</button>
              <!--<button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle Series B</button>-->
              <!--<button mat-button mat-raised-button color="primary" (click)="changeLabel()">Change Label</button>-->
            </div>
        </div>
    </div>

    

    <script src="./bundle.js"></script>
</body>

</html>