<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <title>Administrador Reportes</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img style="width:200px" src="../../../../assets/img/Logo-CDMX.svg" alt="cdmx"></a>
        <button class="navbar-toggler" (click)="toggleCollapse()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" [class.show]="show" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="admin-principal">Empleados <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="admin-reportes">Reportes</a>
                </li>
            </ul>
            <a class="pull-right" href="principal"><strong>Log Out </strong><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>
        <div class="container-fluid">
            <div class = "page-header">
               <h1>Reportes por día</h1>
            </div>
            <br>
            <div class="module">
                    <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle bg-success"
                            aria-controls="dropdown-basic">
                      Fecha <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" href="#">11/06/2019</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">12/06/2019</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">13/06/2019</a></li>
                    </ul>
                    </div>
                    <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle bg-success"
                            aria-controls="dropdown-basic">
                      Delegación <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic2" *dropdownMenu class="dropdown-menu"
                        role="menu" aria-labelledby="button-basic">
                      <li role="menuitem"><a class="dropdown-item" href="#">Álvaro Obregón</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Benito Juárez</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Cuajimalpa</a></li>
                    </ul>
                    </div>
                    <br>
                    <br>
                <div class="table-responsive">
                    <table class = "table">
                    <tr>
                        <th>ID del reporte</th>
                        <th>Usuario que hizo el reporte</th>
                        <th>Delegación</th>
                        <th>Comentario</th>
                        <th>Estado</th>
                        <th> </th>
                    </tr>
                    <tr>
                        <td>34861957</td>
                        <td>José Ramirez Cruz</td> 
                        <td>Álvaro Obregón</td> 
                        <td>Se cayó un poste de luz</td>
                        <td>
                            <div class="col-sm col-lg bg-warning rounded">
                                Reportado
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-lg" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                     <tr>
                        <td>26675657</td>
                        <td>Rodrigo García Mayo</td> 
                        <td>Benito Juárez</td> 
                        <td>Se cayó un poste de luz</td>
                        <td>
                            <div class="col-sm col-lg bg-success rounded">
                                Completado
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary btn-lg" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                    </tr>
                    </table>
                </div>
            </div>
        </div>
        <script src="./bundle.js"></script>
    </body>
</html>